<h1>Welcome back, Sign in</h1>
<h3>Not a member yet? <%=link_to "Register now", sign_up_path %>

<%= form_with url: sign_in_path do |form| %>
    <div class="mb-3">
        <%=form.label :email%>
        <%=form.text_field :email, class:"form-control", placeholder:"yourname@email.com!"%>
    </div>
    <div class="mb-3">
        <%=form.label :password%>
        <%=form.password_field :password, class:"form-control", placeholder:"password"%>
    </div>

        <div class="mb-3">
        <%=form.submit "Sign in" ,class:"btn btn-info"%>
    </div>
<% end %>