<div class="container-fluid min-vh-100">
  <div class="flex-grow-1 mx-auto" style="max-width: 28rem;">

<h3><%= @group.name%></h3>
<p><%= @group.location%></p>
<p><%= @group.content %></p>

<%if current_user != nil && current_user.displayname == @group.group_owner%>
    <%= render 'owneroptions'%>
<%end%>

    </div>
</div>

<h4>Group Posts for <%= @group.name%></h2>
<div class="container-fluid">
<%
=begin%>
 <%post_count = @group.posts.count %>
<p>post_count is <%= post_count%></p> 
<%
=end%>
<div class="row">
    <%= render @group.posts%>  
</div>

</div>

<%= render 'posts/form' %>


