<div class="container content-center">
<h3>Add a post to this group</h3>
<%= form_with model: [@group, @group.posts.build] do |form| %>
<% if form.object.errors.any? %>
    <div class="alert alert-danger">
        <% form.object.errors.full_messages.each do |message| %>
          <div><%= message %></div>
        <% end %>
    </div>
<% end %>
      <div class="form-group">
        <%= form.label :title, style: "display: block" %>
        <%= form.text_field :title, class: "form-control mt-1" %>

        <%= form.label :body, style: "display: block" %>
        <%= form.text_area :body, class: "form-control mt-1" %>

        <%= form.label :image , class: "mt-1"  %>
        <%= form.file_field :image, class: "form-control mt-1" ,accept: ".png, .jpg, .jpeg"%>

        <%= form.label :category, style: "display: block" %>
        <%= form.select :category, ['Gardening', 'DIY', 'Sports', 'Education', 'Event', 'Services'] ,class: "form-control mt-1 mb-3"%>
        <span style="display:none;"><%=form.select :posted_by, [current_user.displayname], selected: current_user.displayname%></span>
      </div>

      <div>
        <%= form.submit "Create Post", class: "btn btn-primary mt-4" %>
      </div>
    </form>
  <% end %>


</div>